/* Estilos article */

.article-bonustrack{
    grid-area: article-bonustrack;
    padding: $spacing*5;

    display: flex;
    flex-direction: column;
}

.article-bonustrack-item{
    @include flex-row;
    justify-content: space-around;
}
.article-bonustrack-p{
    margin: 0;
    padding: $spacing*1;
}
#playlist{

    @include size (200px, 520px, 0)
}

article div img:hover{
    transform: scale(1.1);
    transition-property: all; 
    transition-timing-function: ease-in-out;
}
