/* Estilos header */

.header{
    grid-area: header;
    padding: $spacing*4 ;
    
}

/* Estilos Header-bonustrack */

.header-bonustrack{
    padding: 0 $spacing*4;
}

/* Estilos header-ustedes */

.header-ustedes{
    margin: 0;
    padding: $spacing*2;

    align-items: center;
    justify-content: center;
}