/* Estilos main*/

main{
    p{
        padding-bottom: $spacing*4;
        text-align: left;
    }
    div img:hover{
        transform: scale(1.1);
        transition-property: all; 
        transition-timing-function: ease-in-out;
    }
}

/* Estilos main-index */

.fotos-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#fotosdemarce{
    padding: $spacing*6 $spacing*6;
   
}

/* Estilos main-videos */

.main-videos{
    margin:1rem;
    display:flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
iframe{
    width:560px; 
    height:315px;
}

/* Estilos main-bonustrack */
.main-bonustrack{
    grid-area: main-bonustrack;
    margin: o;
    padding: $spacing*4;
    display: flex;
    flex-direction: row;
}

#influencias {
    display: inline-block ;

    @include size (280px, 280px, 16px);
}

/* Estilos main-ustedes */

.main-ustedes{
    margin:1rem;
    grid-area: main-ustedes;
}
form {
    display: inline-block;

    div input{
        font-size: 16px;
    }
    
}