/* Estilos main*/

main{
    p{
        padding-bottom: $spacing*4;
        text-align: left;
    }
    div img:hover{
        transform: scale(1.1);
        transition-property: all; 
        transition-timing-function: ease-in-out;
    }
}

/* Estilos main-index */

.fotos-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#fotosdemarce{
    padding: $spacing*6;
   
}

/* Estilos main-noticias */
.main-noticias{
    margin:$spacing*5;
}
.novedades{
    @include flex-row;
    align-content: center;
    
}
.agosto22{
    font-size: 1.4rem;
    padding-left: $spacing*12;
    
    @include flex;
}
#lagunas{
    @include size (380px, 380px, 0);
}
.shows-section{
    font-size: 1.4rem;
    padding-top: $spacing*8;
}
.shows{
    padding: $spacing*4 0;
    display: flex;
    flex-direction: row;
   
}
.img-main-noticias-shows{
    @include flex-row;
    align-content: space-between;
}
#showensantelmo{

    @include size (348px, 348px, 1rem 1rem 1rem 0);
    display: inline-block ;

}
#showenlaboca{
    @include size (348px, 348px, 1rem 1rem 1rem 0);
    display:inline-block; 
}

/* Estilos main-videos */

.main-videos{
    margin:1rem;
    min-height: 60vh;

    @include flex;
    
}

/* Estilos main-bonustrack */
.main-bonustrack{
    grid-area: main-bonustrack;
    margin: 0;
    padding: $spacing*4 $spacing*5;
    
    @include flex-row;
}

#influencias {
    display: inline-block ;

    @include size (280px, 280px, 16px);
}

/* Estilos main-ustedes */

.main-ustedes{
    margin:1rem;
    grid-area: main-ustedes;
}
form {
    display: inline-block;

    div input{
        font-size: 16px;
    }
    
}