/* Media Queries */

@media screen and (min-width:220px) and (max-width:767px){

    /* Estilos nav */
    .nav {
        padding: $spacing*4 0;
        flex-wrap: nowrap;
        justify-content: center;
        
        ul li{
            display: block;
        }
    }

    /* Estilos header */
    .header{
        text-align: center;
        justify-content: center;
    }

    /* Estilos main */
    main p{
        text-align: center;
    }

    /* Estilos main-noticias */
    .novedades{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-content: center;
        justify-content: center;
    }

    .img-novedades{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #lagunas{
        width: 320px;
        height: 320px;
    }

    .agosto22{
        padding-left: 0;
        font-size: 1.4rem;
        text-align: center;
    }

    .novedades-p{
        text-align: center;
    }

    .shows{

        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        
    }

    .main-noticias-item1{ 
       @include flex;
    }

    .main-noticias-item2{
        @include flex;
    }

    .img-main-noticias-shows{

        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    #showensantelmo{
        width:320px;
        height: 320px;
    }

    #showenlaboca{
        width:320px;
        height: 320px;
        padding: $spacing*4 0;
        
    }

    .contenedor-ustedes{
        display: grid;
        grid-template-areas: 
        "nav"
        "header-ustedes" 
        "main-ustedes"
        "footer"
        ;
    }

    /* Estilos Header-bonustrack */
    .header-bonustrack{
        text-align: center;
        padding: $spacing*4 $spacing*8;
    }

    /* Estilos Header-ustedes*/
    .header-ustedes{
        grid-area: header-ustedes;
        text-align: center;
        align-content: center;
    }

    /* Estilos main-bonustrack */

    .main-bonustrack{
        flex-direction: column;
        align-items: center;
    }

    #playlist{
        width: 410px;
        height: 160px;
        
    }
    /* Estilos article-bonustrack*/
    article{
        text-align: center;
        
    }
    .article-bonustrack-item{
        display: block ;


    }

    /* Estilos main-ustedes */
    .main-ustedes{
        margin: $spacing*4 $spacing*8 ;
        grid-area: main-ustedes;
    }
    form div input{
        font-size: 16px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {

    /* Estilos nav */
    .nav{
        flex-direction: column;
        align-items: center;

        ul{
            list-style-type: none;
            padding: 0;

            li{
                display: inline-block;
                padding: $spacing*1;
                margin: 0 $spacing*4;
            }
        }
        
    }

    /* Estilos Main */

    .main-index{
        margin: $spacing*4 0;
        
    }
    main{

        p{
            padding-bottom: $spacing*4;
            text-align: center;
        }
        
        div img:hover{
            transform: scale(1.1);
            transition-property: all; 
            transition-timing-function: ease-in-out;
        }
    }

    .fotos-index{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Estilos main-noticias */
    .header-title{
        text-align: center;
    }

    .novedades{
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .agosto22{
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }
    .shows-section{
        text-align: center;
    }
    .shows{
    
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-noticias-item1{
        align-items: center;
        text-align: center;
    }
    .img-main-noticias-shows{
        justify-content: center;
        align-items: center;
    }

    .main-noticias-item3{

        justify-content: center;
        align-items: center;
        
    }
    .main-noticias-p{
        text-align: center;
    }
    /* Estilos main-bonustrack */

    .header-bonustrack{
        text-align: center;
    }
    .main-bonustrack{
        flex-direction: column;
        margin:$spacing*4 $spacing*15 ;
        
    }
    .main-bonustrack-item{
        display: flex;
    }
    .article-bonustrack{
        text-align: center;
        justify-content: center;
        margin:$spacing*4 $spacing*15 ;
    }
 
    .main-bonustrack-item{
        justify-content: space-evenly;
    }
}
@media screen and (min-width:1024px) and (max-width:1200px) {
    
    /* Estilos main-noticias */

    .novedades{
        flex-direction: row;
        
    }
    .agosto22{
        padding: $spacing*4 ;
        
    
    }
    .shows{
    
        flex-direction: row;
        
    }
    .main-noticias-item2{
        padding: 0 $spacing*4;
        display: flex;
        flex-direction: column;
    }
    /* Estilos main-bonustrack */

    .main-bonustrack-item{
        padding-left:0;
        padding-right: $spacing*4;
    }
}