// Mixin

@mixin size ($alto, $ancho, $espaciado) {
    
    height: $alto;
    width: $ancho;
    margin: $espaciado;
}

@mixin flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 