/*Estilos principales de CSS*/

//import css de bootstrap

@import "bootstrap/bootstrap.scss";

//mis estilos

* {
    margin:0;
    padding:0;
 }
html {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

@import "extend";
@import "mixin";
@import "variables";
@import "animaciones";
@import "body";
@import "nav";
@import "header";
@import "main";
@import "article";
@import "footer";
@import "mediaqueries"

